name: AMM Example UI

on:
  push:
    branches:
      - main

env:
  EXAMPLE_UI_DIR: ./amm/example

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: ${{env.EXAMPLE_UI_DIR}}/yarn.lock

      - name: Build
        working-directory: ${{env.EXAMPLE_UI_DIR}}
        run: yarn install --frozen-lockfile && yarn build

      - run: mv ${{env.EXAMPLE_UI_DIR}}/dist .github/public/examples/amm

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./.github/public
